In [1]:
from tracemalloc import stop
import numpy as np
import pandas as pd
import re
import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier

In [2]:
nltk.download('punkt')
nltk.download('stopwords')
sw=nltk.corpus.stopwords.words("english")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
def transform_text(text):
    text=text.lower()
    text=nltk.word_tokenize(text)
    y=[]
    for i in text:
        if i.isalnum():
            y.append(i)
    text=y[:]
    y.clear()
    for i in text:
        if i not in stopwords.words('english') and i not in string.punctuation:
            y.append(i)
    text=y[:]
    y.clear()
    ps=PorterStemmer()
    for i in text:
        y.append(ps.stem(i))
    return " ".join(y)

In [4]:
tfidf1=TfidfVectorizer(stop_words=sw,max_features=20)
def transform1(txt1):
    txt2=tfidf1.fit_transform(txt1)
    return txt2.toarray()

In [5]:
df1=pd.read_csv("Spam Detection.csv")

In [6]:
df1.head()

     v1                                                 v2
0  spam  U were outbid by simonwatson5120 on the Shinco...
1   ham                     Do you still have the grinder?
2   ham                     No. Yes please. Been swimming?
3   ham    No de.am seeing in online shop so that i asked.
4   ham  Faith makes things possible,Hope makes things ...

In [7]:
df1.isnull().sum()

v1    0
v2    0
dtype: int64

In [8]:
df1.duplicated().sum()

264

In [9]:
df1

        v1                                                 v2
0     spam  U were outbid by simonwatson5120 on the Shinco...
1      ham                     Do you still have the grinder?
2      ham                     No. Yes please. Been swimming?
3      ham    No de.am seeing in online shop so that i asked.
4      ham  Faith makes things possible,Hope makes things ...
...    ...                                                ...
4452   ham               Good. Good job. I like entrepreneurs
4453   ham  Living is very simple.. Loving is also simple....
4454   ham  Msgs r not time pass.They silently say that I ...
4455   ham     What is this 'hex' place you talk of? Explain!
4456   ham                             Sorry, I'll call later

[4457 rows x 2 columns]

In [55]:
df1[df1['Label']=="spam"].Text[0]

'U were outbid by simonwatson5120 on the Shinco DVD Plyr. 2 bid again, visit sms. ac/smsrewards 2 end bid notifications, reply END OUT'

In [56]:
df1.columns=["Label","Text"]
x=transform1(df1["Text"])
y=df1["Label"]
x_train1,x_test1,y_train1,y_test1=train_test_split(x,y,test_size=0.2,random_state=0)
model1=LogisticRegression()
model1.fit(x_train1,y_train1)

LogisticRegression()

In [78]:
x[4]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 0., 0.])

In [57]:
str = "U were outbid by simonwatson5120 on the Shinco DVD Plyr. 2 bid again, visit sms. ac/smsrewards 2 end bid notifications, reply END OUT"

In [58]:
new_str = transform_text(str)

In [59]:
new_str

'u outbid simonwatson5120 shinco dvd plyr 2 bid visit sm 2 end bid notif repli end'

In [60]:
ex_tfidf = tfidf1.transform([new_str])

In [61]:
pred = model1.predict(ex_tfidf)

In [62]:
pred[0]

'ham'

In [79]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score

In [94]:
tfidf2=TfidfVectorizer(stop_words=sw,max_features=20)
def transform2(txt1):
    txt2=tfidf2.fit_transform(txt1)
    return txt2.toarray()

In [113]:
df2=pd.read_csv("Sentiment Analysis.csv")

In [114]:
df2.head()

                                                text  label
0  I always wrote this series off as being a comp...      0
1  1st watched 12/7/2002 - 3 out of 10(Dir-Steve ...      0
2  This movie was so poorly written and directed ...      0
3  The most interesting thing about Miryang (Secr...      1
4  when i first read about "berlin am meer" i did...      0

In [140]:
df2[df2['Label']==0].Text[0]

'I always wrote this series off as being a complete stink-fest because Jim Belushi was involved in it, and heavily. But then one day a tragic happenstance occurred. After a White Sox game ended I realized that the remote was all the way on the other side of the room somehow. Now I could have just gotten up and walked across the room to get the remote, or even to the TV to turn the channel. But then why not just get up and walk across the country to watch TV in another state? "Nuts to that", I said. So I decided to just hang tight on the couch and take whatever Fate had in store for me. What Fate had in store was an episode of this show, an episode about which I remember very little except that I had once again made a very broad, general sweeping blanket judgment based on zero objective or experiential evidence with nothing whatsoever to back my opinions up with, and once again I was completely right! This show is a total crud-pie! Belushi has all the comedic delivery of a hairy lighthouse foghorn. The women are physically attractive but too Stepford-is to elicit any real feeling from the viewer. There is absolutely no reason to stop yourself from running down to the local TV station with a can of gasoline and a flamethrower and sending every copy of this mutt howling back to hell. <br /><br />Except.. <br /><br />Except for the wonderful comic sty lings of Larry Joe Campbell, America\'s Greatest Comic Character Actor. This guy plays Belushi\'s brother-in-law, Andy, and he is gold. How good is he really? Well, aside from being funny, his job is to make Belushi look good. That\'s like trying to make butt warts look good. But Campbell pulls it off with style. Someone should invent a Nobel Prize in Comic Buffoonery so he can win it every year. Without Larry Joe this show would consist of a slightly vacant looking Courtney Thorne-Smith smacking Belushi over the head with a frying pan while he alternately beats his chest and plays with the straw on the floor of his cage. 5 stars for Larry Joe Campbell designated Comedic Bacon because he improves the flavor of everything he\'s in!'

In [115]:
df2.duplicated().sum()

5

In [121]:
df2[df2['label']==1].count()

text     2505
label    2505
dtype: int64

In [123]:
df2.columns=["Text","Label"]
x=transform2(df2["Text"])
y=df2["Label"]
x_train2,x_test2,y_train2,y_test2=train_test_split(x,y,test_size=0.2,random_state=0)
model2=LogisticRegression()
model2.fit(x_train2,y_train2)

LogisticRegression()

In [124]:
i_e_str = "this is best exercise for us to get helping more in this field"

In [125]:
trns_txt = transform_text(i_e_str)

In [126]:
trns_txt

'best exercis us get help field'

In [127]:
tfidf_2 = tfidf2.transform([trns_txt])

In [128]:
tfidf_2

<1x20 sparse matrix of type '<class 'numpy.float64'>'
	with 1 stored elements in Compressed Sparse Row format>

In [129]:
pred_2 = model2.predict(tfidf_2)

In [130]:
pred_2[0]

0

In [141]:
tfidf3=TfidfVectorizer(stop_words=sw,max_features=20)
def transform3(txt1):
    txt2=tfidf3.fit_transform(txt1)
    return txt2.toarray()

In [142]:
df3=pd.read_csv("Stress Detection.csv")
df3=df3.drop(["subreddit","post_id","sentence_range","syntax_fk_grade"],axis=1)
df3.columns=["Text","Sentiment","Stress Level"]
x=transform3(df3["Text"])
y=df3["Stress Level"].to_numpy()
x_train3,x_test3,y_train3,y_test3=train_test_split(x,y,test_size=0.2,random_state=0)
model3=DecisionTreeRegressor(max_leaf_nodes=2000)
model3.fit(x_train3,y_train3)

DecisionTreeRegressor(max_leaf_nodes=2000)

In [143]:
df3.head()

                                                Text  Sentiment  Stress Level
0  He said he had not felt that way before, sugge...          1     -0.002742
1  Hey there r/assistance, Not sure if this is th...          0      0.292857
2  My mom then hit me with the newspaper and it s...          1      0.011894
3  until i met my new boyfriend, he is amazing, h...          1      0.141671
4  October is Domestic Violence Awareness Month a...          1     -0.204167

In [146]:
df3[df3['Sentiment']==1].Text[0]

'He said he had not felt that way before, suggeted I go rest and so ..TRIGGER AHEAD IF YOUI\'RE A HYPOCONDRIAC LIKE ME: i decide to look up "feelings of doom" in hopes of maybe getting sucked into some rabbit hole of ludicrous conspiracy, a stupid "are you psychic" test or new age b.s., something I could even laugh at down the road. No, I ended up reading that this sense of doom can be indicative of various health ailments; one of which I am prone to.. So on top of my "doom" to my gloom..I am now f\'n worried about my heart. I do happen to have a physical in 48 hours.'

In [149]:
i_e_str_3 = """He said he had not felt that way before, suggeted I go rest and so ..TRIGGER AHEAD IF YOUI\'RE A HYPOCONDRIAC LIKE ME: i decide to look up "feelings of doom" in hopes of maybe getting sucked into some rabbit hole of ludicrous conspiracy, a stupid "are you psychic" test or new age b.s., something I could even laugh at down the road. No, I ended up reading that this sense of doom can be indicative of various health ailments; one of which I am prone to.. So on top of my "doom" to my gloom..I am now f\'n worried about my heart. I do happen to have a physical in 48 hours."""

In [150]:
new_transform_3 = transform_text(i_e_str_3)

In [151]:
tfidf_3 = tfidf3.transform([new_transform_3])

In [153]:
pred3 = model3.predict(tfidf_3)

In [154]:
pred3[0]

0.086363636

In [155]:
tfidf4=TfidfVectorizer(stop_words=sw,max_features=20)
def transform4(txt1):
    txt2=tfidf4.fit_transform(txt1)
    return txt2.toarray()

df4=pd.read_csv("Hate Content Detection.csv")

In [156]:
df4.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [157]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

In [158]:
df4.duplicated().sum()

0

In [159]:
df4=df4.drop(["Unnamed: 0","count","neither"],axis=1)
df4.columns=["Hate Level","Offensive Level","Class Level","Text"]

In [160]:
df4.head()

,Hate Level,Offensive Level,Class Level,Text
0,0,0,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,0,3,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,0,3,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,0,2,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,0,6,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [162]:
type(df4.Text[0])

str

In [168]:
x=transform4(df4["Text"])
y=df4["Class Level"]
x_train4,x_test4,y_train4,y_test4=train_test_split(x,y,test_size=0.2,random_state=0)
model4=RandomForestClassifier()
model4.fit(x_train4,y_train4)

RandomForestClassifier()

In [170]:
df4[df4['Class Level']==1].Text[1]

'!!!!! RT @mleew17: boy dats cold...tyga dwn bad for cuffin dat hoe in the 1st place!!'

In [171]:
ie_str4 = "!!!!! RT @mleew17: boy dats cold...tyga dwn bad for cuffin dat hoe in the 1st place!!"

In [172]:
transform_4 = transform_text(ie_str4)

In [173]:
tfidf_4 = tfidf4.transform([transform_4])

In [174]:
pred4 = model4.predict(tfidf_4)[0]

In [175]:
pred4

1

In [176]:
tfidf5=TfidfVectorizer(stop_words=sw,max_features=20)
def transform5(txt1):
    txt2=tfidf5.fit_transform(txt1)
    return txt2.toarray()

df5=pd.read_csv("Sarcasm Detection.csv")
df5.columns=["Text","Label"]

In [177]:
df5.head()

                                                Text  Label
0  I love finding out who your true friends are. ...      0
1                                        USER :/ bye      0
2          USER I absolutely love Kanye's voice USER      0
3  We're hiring a new Kiosk Supervisor! Think you...      0
4  Every time I see Dave Grohl with his long hipp...      0

In [178]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4553 entries, 0 to 4552
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    4553 non-null   object
 1   Label   4553 non-null   int64
dtypes: int64(1), object(1)
memory usage: 71.3+ KB

In [179]:
df5.duplicated().sum()

7

In [182]:
df5['Label'].value_counts()

0    3553
1    1000
Name: Label, dtype: int64

In [185]:
df5[df5['Label']==1].Text[3453]

'ohh how i love being forgotten'

In [183]:
x=transform5(df5["Text"])
y=df5["Label"]
x_train5,x_test5,y_train5,y_test5=train_test_split(x,y,test_size=0.2,random_state=0)
model5=LogisticRegression()
model5.fit(x_train5,y_train5)

LogisticRegression()

In [192]:
ie_str_5 = "ohh how i love being forgotten"

In [193]:
trans_str_5 = transform_text(ie_str_5)

In [194]:
tfidf_5 = tfidf5.transform([trans_str_5])

In [195]:
pred5 = model6.predict(tfidf_5)

In [196]:
pred5[0]

0

In [191]:
model6=RandomForestClassifier()
model6.fit(x_train5,y_train5)

RandomForestClassifier()